body {
    background-color: #DEDEEE;
    font-family: sans-serif;
}

.tango {
    position: relative;
    top: 5px;
}

img#title-icon {
    height: 100px;
    width: auto;
    margin-right: -5px;
    position: relative;
    top: -20px;
    left: -10px;
}

div#header-container-outer {
    margin: 8vh 6vw 30px;
}

div#header-container-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

div#header-main {
    display: flex;
    flex-direction: column;

    width: 60%;
    padding-right: 5%;
}

div#header-title {
    display: flex;
    flex-direction: row;
}

div#header-right-sidebar {
    width: 35%;

    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;

    padding: 0px 15px 10px;

    overflow-wrap: break-word;
}

div#generator-outer-container {
    padding: 10vh 26vw 3vh;
}

div#generator-options-section {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;

    padding: 1em 4ch;
}

div#legal-thing {
    padding: 0px 35vw 25px;
    font-size: 10px;
}

textarea#skill-pool-code {
    width: 100%;
    height: 8em;
    resize: none;
}

textarea.ta-skill-list {
    width: 90%;
    height: 10em;
    min-height: 10em;
    resize: vertical;

    padding: 1ch;

    line-height: 1.1em;
}

button#generate {
    font-size: 1.2rem;

    padding: 7px 12px 7px;

    margin: 2.3rem 0px 1.4rem;
}

.table-filters-element {
    padding: 0px 6px 5px;
    font-weight: bold;
    color: #0000EE;
    cursor: pointer;
}

#skills-table-container {
    padding: 4vh 2vw 4vh;
}

#skills-table {
    background-color: #EEEEEE;

    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

thead .sorting {
    background-image: url(static/sort_both.svg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 21px;
}

thead .sorting_asc {
    background-image: url(static/sort_up.svg);
}

thead .sorting_desc {
    background-image: url(static/sort_down.svg);
}

thead .sorting_disabled {
    background-image: none;
}

.center-icon {
    display: block;
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50%; */
  }

.skill-name {
    text-decoration: none;
    font-weight: bold;
}

.skill-name:hover {
    text-decoration: underline;
}

.no-wrap {
    white-space: nowrap;
}

.skills-table-cell {
    text-align: center;
    padding: 5px;
}

.row-war {
    background-color: #FFFFCC;
}

.row-ran {
    background-color: #EEFFCC;
}

.row-mon {
    background-color: #CCEEFF;
}

.row-nec {
    background-color: #CCFFCC;
}

.row-mes {
    background-color: #EEDDFF;
}

.row-ele {
    background-color: #FFDDDD;
}

.row-ass {
    background-color: #FFEEFF;
}

.row-rit {
    background-color: #DDFFFF;
}

.row-par {
    background-color: #FFEECC;
}

.row-der {
    background-color: #EEEEFF;
}

.row-com {
    background-color: #EEEEEE;
}
